h3
    {
        color: white;
    }

span
    {
        color: red;        
    }

li
    {
        text-align : center;
        font-family: monospace;
        color      : darkorchid;
        font-size  : 18px;
        padding    : 50px; 
    }

body.bgcolor
    {
        background-color: black;
    }

.titlerow:hover
    {
        
    }